.overlay{
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    background-color: rgba(221, 221, 221, 0.3);
    width: 640px;
    padding: 10px 0;
    z-index: 2147483647;
    overflow-y: hidden;
}